.container{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
.card-photo img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 180px;
}
input{
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    background: transparent;
    border-bottom: 2px solid orangered;
    width: 50%;
}
label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 23px;
/* identical to box height */

text-transform: uppercase;

color: #000000;
}
p{
    position: absolute;
    top: 84%;
    left: 39%;
}
button{
    position: absolute;
    left: 12%;
    cursor: pointer;
    border: none;
    color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 216px;
height: 51px;
background: #F77110;
border-radius: 8px;
}
.info{
    margin-top: 30px;
    text-align: center;
}
.info .user{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 21px;
text-transform: uppercase;
}
.info .occupation{
font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 12px;
line-height: 23px;
/* identical to box height */

text-transform: uppercase;

color: #F94E05;
}
form{
    margin-top: 5%;
    width: 60%;
    position: absolute;
    left: 30%;
}
.informationl{
  width: 80%;
  position: absolute;
  left: 180px;
    background-color: #000000;
}
.informationl a{
  position: relative;
  top: 390px;
    text-decoration: none;
    font-family: 'Poppins';
font-style: normal;
font-weight: 100;
font-size: 12px;
line-height: 13px;
/* identical to box height */

text-transform: uppercase;

color: #001AFF;
}


body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: none;
    border-right: 3px solid orangered;
  }
  
  .sidebar a {
    text-transform: capitalize;
    margin-top: 20px;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #F94E05;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 900px;
  }
  .admin{
    margin-bottom: 30px;
    text-align: center;
    color: #F94E05;
  }
  i{
    margin-right: 30px;
  }

.user-pic{
margin-top: 100px;
margin-bottom: 10px;
position: relative;
left: 90px;
height: 107px;
width: 112px;
background: url(../img/323086801_2095916714131032_2633539481337387402_n.jpg);
background-size: cover;
border-radius: 180px;
}

.toggle {
    position: relative;
    left: 240px;
    top: 70px;
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.top-div{
    width: 100%;
    height: 130px;
    border: none;
    border-bottom: 1px solid orangered;
}
.page-title{
    position: absolute;
    left: 350px;
    top: 100px;
}
.page-title i{
    color: #F94E05;
}
.profile-user{
    position: absolute;
    left: 1100px;
    top: 70px;
}
.user1, .notification, .settings{
    justify-content: center;
    text-align: center;
    width: 20px;
    cursor: pointer;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.user1 span, .notification span, .settings span{
    margin-left: 10px;
    margin-bottom: 10px;
}
.user1 a, .notification a, .settings a{
    color: #000000;
    text-decoration: none;
}
.user1 a:hover, .notification a:hover, .settings a:hover{
    color: orangered;
    text-decoration: none;
}
.mail-badge{
  background-color: red;
  color: white;
  padding: 2px 2px;
  text-align: center;
  border-radius: 5px;
}
.members, .likes, .comments{
    text-align: center;
    position: relative;
    top: 50px;
    left: 150px;
    margin-left: 30px;
    float: left;
    width: 331px;
    height: 218px;
    border: 2px solid rgb(0, 208, 255);

}
.i1, .i2, .i3{
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    margin-left: 30px;
    float: left;
    width: 331px;
    height: 218px;
    border: 2px solid rgb(0, 208, 255);
}

.dash-title{
    margin-top: 20px;
    font-family: Playfair Display;
font-size: 27px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0.19em;
text-align: center;

}
.dash-icon{
    margin-top: 20px;
    background-color: #00dada;
  color: white;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.dash-icon span{
    margin-left: 20px;
}
.badge{
    position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: orangered;
  color: white;
}
.dash-btn button{
    margin-top: 20px;
    margin-left:52px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;
width: 137px;
height: 32px;
background: #F77110;
border-radius: 4px;
}
.dashboard-footer{
    text-align: center;
    width: 100%;
}
.footer-line{
    position: relative;
    left: 200px;
    top: 700px;
    width: 80%;
    border: none;
    border-bottom: 2px solid orangered;
}
.copyright{
    position: relative;
    left: 200px;
    top: 300px;
    width: 80%; 
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: orangered;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    height: 60px;
    text-align: center;
    padding: 2px 16px;
    background-color: rgb(255, 47, 0);
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    top: 0%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .modal-pic{
    cursor: pointer;
    margin-left: 230px;
    width: 18%;
    height: 100px;
    background-image: url(../img/323086801_2095916714131032_2633539481337387402_n.jpg);
    background-size: cover;
    border-radius: 180px;
  }
  .modal-footer button{
    text-align: center;
    margin-top: 13px;
    margin-left: 160px;
    width: 100px;
    height: 40px;
    background-color: #0c8df7;
    border: none;
  }
  .identity{
    margin-top: 40px;
    margin-left: 80px;
  }
  .identity input{
    width: 80%;
  }
  .form-header{text-align: center;}
  .submit-manage button{
    width: 130px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 120px;
    background-color: #0c8df7;
  }
  select{
    margin-top: 20px;
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 2px solid orangered;
  }
  .manage-page-form{
    top: 250px;
    width: 1100px;
    position: absolute;
    left: 350px;
  }
.management-title{
  text-align: center;
  margin: 70px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200px;
  line-height: 50px;
}
.manage-body .dashboard-footer .footer-line{
  position: absolute;
  top: 700px;
  left: 300px;
  
}
.manage-body .dashboard-footer .copyright{
  position: absolute;
  top: 750px;
  left: 300px;
  
}
.manage-page-form1{
  width: 900px;
  position: absolute;
  top: 280px;
  left: 200px;
}
.section-B{
  width: 100%;
  position: absolute;
  left: 500px;
  top: 0px;
}
.manage-body2 .dashboard-footer .footer-line{
  position: absolute;
  top: 750px;
  left: 300px;
}
.manage-body2 .dashboard-footer .copyright{
  position: absolute;
  top: 758px;
  left: 300px;
}
.manage-page-form1 button{
  margin-top: 60px;
  margin-left: 200px;
}
.section-A span{
  position: relative;
  right: 30px;
  margin-bottom: 10px;
}
textarea{
  border: 2px solid orangered;
}


.card {
  margin-top: 40px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.table-concept {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.table-concept .table-radio {
  display: none;
}
.table-concept .table-radio:checked + .table-display {
  display: block;
}
.table-concept .table-radio:checked + .table-display + table {
  width: 100%;
  display: table;
}
.table-concept .table-radio:checked + .table-display + table + .pagination {
  display: flex;
}
.table-concept .table-radio:checked + .table-display + table + .pagination > label.active {
  color: #ffffff;
  background-color: dimgray;
  cursor: default;
}
.table-concept .table-radio:checked + .table-display + table + .pagination > label.disabled {
  color: #ffffff;
  background-color: #b5b5b5;
  cursor: default;
}
.table-concept .table-display {
  text-align: right;
  padding: 10px;
  display: none;
  position: sticky;
  left: 0;
}
.table-concept table {
  font-size: 16px;
  border-collapse: collapse;
  display: none;
}
.table-concept table tr:last-child td {
  border-bottom: 0;
}
.table-concept table tr th,
.table-concept table tr td {
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
.table-concept table tr th {
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  background-color: #8f8f8f;
  border-bottom: solid 2px #d8d8d8;
  position: sticky;
  top: 0;
}
.table-concept table tr td {
  border: solid 1px #d8d8d8;
  border-left: 0;
  border-right: 0;
  white-space: nowrap;
}
.table-concept table tbody tr {
  transition: background-color 150ms ease-out;
}
.table-concept table tbody tr:nth-child(2n) {
  background-color: whitesmoke;
}
.table-concept table tbody tr:hover {
  background-color: #ebebeb;
}
.table-concept .pagination {
  background-color: #8f8f8f;
  width: 100%;
  display: none;
  position: sticky;
  bottom: 0;
  left: 0;
}
.table-concept .pagination > label {
  background-color: #8f8f8f;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
.table-concept .pagination > label:hover {
  background-color: darkgray;
}
.table-concept .pagination > label:active {
  background-color: #767676;
}

.table-title {
  color: #ffffff;
  background-color: #2f2f2f;
  padding: 15px;
}
.table-title h2 {
  margin: 0;
  padding: 0;
}

.button-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}
.button-container span {
  color: #8f8f8f;
  text-align: right;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.button-container button {
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
  padding: 10px 15px;
  border: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  transition: background-color 225ms ease-out;
}
.button-container button.primary {
  background-color: #147eff;
}
.button-container button.primary:hover {
  background-color: #479aff;
}
.button-container button.primary:active {
  background-color: #0065e0;
}
.button-container button.primary {
  background-color: #147eff;
}
.button-container button.primary:hover {
  background-color: #479aff;
}
.button-container button.primary:active {
  background-color: #0065e0;
}
.button-container button.danger {
  background-color: #d11800;
}
.button-container button.danger:hover {
  background-color: #ff2205;
}
.button-container button.danger:active {
  background-color: #9e1200;
}
.button-container button svg {
  fill: #ffffff;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.my-mails{
  width: 90%;
  position: relative;
  left: 100px;

}











  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }








  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
      }
    .container{
        width: 100%;
        height: auto;
        background-color: aqua;
    }

}